---
layout: base.liquid
title: Planetary Playing Cards
---

<main class="container">
  <h1>Planetary Playing Cards</h1>
  <div class="grid">
    {% include 'sun.liquid' %}
    {% for planet in collections.planets %}
      {% include 'planet.liquid', planet: planet %}
    {% endfor %}
  </div>
</main>
