<div class="card">
  <div class="planet-avatar" style="--planet-color: {{ planet.data.color }}; --planet-size: {{ planet.data.size }};"></div>
  <h2>{{ planet.data.name }}</h2>
  <p>AU: {{ planet.data.au }}</p>
</div>
